// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
 */

/dts-v1/;

#include "sa8797p.dtsi"
#include "sa8797p-qam-ride-common.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. SA8797P QAM RIDE-SX";
	compatible = "qcom,sa8797p-qam-ride-sx", "qcom,sa8797p-qam", "qcom,sa8797p";
	qcom,board-id = <0x0101002 1>;
};
