// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include "oot-dt-bindings/qcom-ipcc-sa8797p.h"
#include "sa8797p-vfio.dtsi"


/ {
	model = "Qualcomm SA8797";
	compatible = "qcom,sa8797p-rumi", "qcom,sa8797p";
	qcom,board-id = <0xf 0>;
};


&{/} {
        #address-cells = <2>;
        #size-cells = <2>;

};

&{/reserved-memory} {
	#address-cells = <2>;
	#size-cells = <2>;
	ranges;
	cma: linux,cma {
                compatible = "shared-dma-pool";
                alloc-ranges = <0x0 0x00000000 0x0 0xdfffffff>;
                reusable;
                alignment = <0x0 0x400000>;
                size = <0x0 0x2000000>;
                linux,cma-default;
        };
};

&soc {
	kiumd {
		compatible = "qcom,kiumd";
		qcom,dev-name = "kiumd";
		status = "ok";
	};

};

scm_user_intf_device {
	compatible = "qcom,scm-user-intf";
	scm_dev = "scm";
	status = "ok";
};
