// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/ {
	compatible = "qcom,sa8x97p-non-safe","qcom,non-safe";
};

&CPU0 {
	#cooling-cells = <2>;
};

&CPU1 {
	#cooling-cells = <2>;
	CPU1_idle: thermal-idle {
		#cooling-cells = <2>;
		duration-us = <800000>;
		exit-latency-us = <10000>;
	};
};

&CPU2 {
	#cooling-cells = <2>;
	CPU2_idle: thermal-idle {
		#cooling-cells = <2>;
		duration-us = <800000>;
		exit-latency-us = <10000>;
	};
};

&CPU3 {
	#cooling-cells = <2>;
	CPU3_idle: thermal-idle {
		#cooling-cells = <2>;
		duration-us = <800000>;
		exit-latency-us = <10000>;
	};
};

&CPU4 {
	#cooling-cells = <2>;
	CPU4_idle: thermal-idle {
		#cooling-cells = <2>;
		duration-us = <800000>;
		exit-latency-us = <10000>;
	};
};

&CPU5 {
	#cooling-cells = <2>;
	CPU5_idle: thermal-idle {
		#cooling-cells = <2>;
		duration-us = <800000>;
		exit-latency-us = <10000>;
	};
};

&CPU6 {
	#cooling-cells = <2>;
	CPU6_idle: thermal-idle {
		#cooling-cells = <2>;
		duration-us = <800000>;
		exit-latency-us = <10000>;
	};
};

&CPU7 {
	#cooling-cells = <2>;
	CPU7_idle: thermal-idle {
		#cooling-cells = <2>;
		duration-us = <800000>;
		exit-latency-us = <10000>;
	};
};

&CPU8 {
	#cooling-cells = <2>;
	CPU8_idle: thermal-idle {
		#cooling-cells = <2>;
		duration-us = <800000>;
		exit-latency-us = <10000>;
	};
};

&CPU9 {
	#cooling-cells = <2>;
	CPU9_idle: thermal-idle {
		#cooling-cells = <2>;
		duration-us = <800000>;
		exit-latency-us = <10000>;
	};
};

&CPU10 {
	#cooling-cells = <2>;
	CPU10_idle: thermal-idle {
		#cooling-cells = <2>;
		duration-us = <800000>;
		exit-latency-us = <10000>;
	};
};

&CPU11 {
	#cooling-cells = <2>;
	CPU11_idle: thermal-idle {
		#cooling-cells = <2>;
		duration-us = <800000>;
		exit-latency-us = <10000>;
	};
};

&CPU12 {
	#cooling-cells = <2>;
	CPU12_idle: thermal-idle {
		#cooling-cells = <2>;
		duration-us = <800000>;
		exit-latency-us = <10000>;
	};
};

&CPU13 {
	#cooling-cells = <2>;
	CPU13_idle: thermal-idle {
		#cooling-cells = <2>;
		duration-us = <800000>;
		exit-latency-us = <10000>;
	};
};

&CPU14 {
	#cooling-cells = <2>;
	CPU14_idle: thermal-idle {
		#cooling-cells = <2>;
		duration-us = <800000>;
		exit-latency-us = <10000>;
	};
};

&CPU15 {
	#cooling-cells = <2>;
	CPU15_idle: thermal-idle {
		#cooling-cells = <2>;
		duration-us = <800000>;
		exit-latency-us = <10000>;
	};
};

&CPU16 {
	#cooling-cells = <2>;
	CPU16_idle: thermal-idle {
		#cooling-cells = <2>;
		duration-us = <800000>;
		exit-latency-us = <10000>;
	};
};

&CPU17 {
	#cooling-cells = <2>;
	CPU17_idle: thermal-idle {
		#cooling-cells = <2>;
		duration-us = <800000>;
		exit-latency-us = <10000>;
	};
};

&thermal_zones {
	cpu-0-1-0 {
		trips {
			cpu1_alert0: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu1_alert0>;
				cooling-device = <&CPU1_idle 100 100>;
			};
		};
	};

	cpu-0-2-0 {
		trips {
			cpu2_alert0: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu2_alert0>;
				cooling-device = <&CPU2_idle 100 100>;
			};
		};
	};

	cpu-0-3-0 {
		trips {
			cpu3_alert0: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu3_alert0>;
				cooling-device = <&CPU3_idle 100 100>;
			};
		};
	};

	cpu-0-4-0 {
		trips {
			cpu4_alert0: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu4_alert0>;
				cooling-device = <&CPU4_idle 100 100>;
			};
		};
	};

	cpu-0-5-0 {
		trips {
			cpu5_alert0: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu5_alert0>;
				cooling-device = <&CPU5_idle 100 100>;
			};
		};
	};

	cpu-1-0-0 {
		trips {
			cpu6_alert0: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu6_alert0>;
				cooling-device = <&CPU6_idle 100 100>;
			};
		};
	};

	cpu-1-1-0 {
		trips {
			cpu7_alert0: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu7_alert0>;
				cooling-device = <&CPU7_idle 100 100>;
			};
		};
	};

	cpu-1-2-0 {
		trips {
			cpu8_alert0: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu8_alert0>;
				cooling-device = <&CPU8_idle 100 100>;
			};
		};
	};

	cpu-1-3-0 {
		trips {
			cpu9_alert0: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu9_alert0>;
				cooling-device = <&CPU9_idle 100 100>;
			};
		};
	};

	cpu-1-4-0 {
		trips {
			cpu10_alert0: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu10_alert0>;
				cooling-device = <&CPU10_idle 100 100>;
			};
		};
	};

	cpu-1-5-0 {
		trips {
			cpu11_alert0: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu11_alert0>;
				cooling-device = <&CPU11_idle 100 100>;
			};
		};
	};

	cpu-0-1-1 {
		trips {
			cpu1_alert1: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu1_alert1>;
				cooling-device = <&CPU1_idle 100 100>;
			};
		};
	};

	cpu-0-2-1 {
		trips {
			cpu2_alert1: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu2_alert1>;
				cooling-device = <&CPU2_idle 100 100>;
			};
		};
	};

	cpu-0-3-1 {
		trips {
			cpu3_alert1: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu3_alert1>;
				cooling-device = <&CPU3_idle 100 100>;
			};
		};
	};

	cpu-0-4-1 {
		trips {
			cpu4_alert1: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu4_alert1>;
				cooling-device = <&CPU4_idle 100 100>;
			};
		};
	};

	cpu-0-5-1 {
		trips {
			cpu5_alert1: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu5_alert1>;
				cooling-device = <&CPU5_idle 100 100>;
			};
		};
	};

	cpu-1-0-1 {
		trips {
			cpu6_alert1: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;

			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu6_alert1>;
				cooling-device = <&CPU6_idle 100 100>;
			};
		};
	};

	cpu-1-1-1 {
		trips {
			cpu7_alert1: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu7_alert1>;
				cooling-device = <&CPU7_idle 100 100>;
			};
		};
	};

	cpu-1-2-1 {
		trips {
			cpu8_alert1: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu8_alert1>;
				cooling-device = <&CPU8_idle 100 100>;
			};
		};
	};

	cpu-1-3-1 {
		trips {
			cpu9_alert1: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu9_alert1>;
				cooling-device = <&CPU9_idle 100 100>;
			};
		};
	};

	cpu-1-4-1 {
		trips {
			cpu10_alert1: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu10_alert1>;
				cooling-device = <&CPU10_idle 100 100>;
			};
		};
	};

	cpu-1-5-1 {
		trips {
			cpu11_alert1: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu11_alert1>;
				cooling-device = <&CPU11_idle 100 100>;
			};
		};
	};

	cpu-2-0-0 {
		trips {
			cpu12_alert0: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu12_alert0>;
				cooling-device = <&CPU12_idle 100 100>;
			};
		};
	};

	cpu-2-1-0 {
		trips {
			cpu13_alert0: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu13_alert0>;
				cooling-device = <&CPU13_idle 100 100>;
			};
		};
	};

	cpu-2-2-0 {
		trips {
			cpu14_alert0: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu14_alert0>;
				cooling-device = <&CPU14_idle 100 100>;
			};
		};
	};

	cpu-2-3-0 {
		trips {
			cpu15_alert0: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu15_alert0>;
				cooling-device = <&CPU15_idle 100 100>;
			};
		};
	};

	cpu-2-4-0 {
		trips {
			cpu16_alert0: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu16_alert0>;
				cooling-device = <&CPU16_idle 100 100>;
			};
		};
	};

	cpu-2-5-0 {
		trips {
			cpu17_alert0: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu17_alert0>;
				cooling-device = <&CPU17_idle 100 100>;
			};
		};
	};

	cpu-2-0-1 {
		trips {
			cpu12_alert1: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu12_alert1>;
				cooling-device = <&CPU12_idle 100 100>;
			};
		};
	};

	cpu-2-1-1 {
		trips {
			cpu13_alert1: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu13_alert1>;
				cooling-device = <&CPU13_idle 100 100>;
			};
		};
	};

	cpu-2-2-1 {
		trips {
			cpu14_alert1: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu14_alert1>;
				cooling-device = <&CPU14_idle 100 100>;
			};
		};
	};

	cpu-2-3-1 {
		trips {
			cpu15_alert1: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu15_alert1>;
				cooling-device = <&CPU15_idle 100 100>;
			};
		};
	};

	cpu-2-4-1 {
		trips {
			cpu16_alert1: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu16_alert1>;
				cooling-device = <&CPU16_idle 100 100>;
			};
		};
	};

	cpu-2-5-1 {
		trips {
			cpu17_alert1: trip-point1 {
				temperature = <116000>;
				hysteresis = <3000>;
			};
		};

		cooling-maps {
			map0 {
				trip = <&cpu17_alert1>;
				cooling-device = <&CPU17_idle 100 100>;
			};
		};
	};
};
