// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

&spi14 {
	status = "okay";
	spidev@0 {
		compatible = "micron,spi-authenta";
		reg = <0>;
		spi-max-frequency = <10000000>;
	};
};

&usb_1_eusbphy {
	status = "okay";
};

&usb_1_qmpphy {
	status = "okay";
};

&usb_1 {
	status = "okay";
};

&usb_2_eusbphy {
	status = "okay";
};

&usb_2 {
	status = "okay";
};
