// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;

#include "seca.dtsi"
#include "seca-non-safe.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. SECA NON-SAFE IVI ADP STAR";
	compatible = "qcom,seca-adp-star", "qcom,adp", "qcom,seca";
	qcom,board-id = <0x00010025 0>;
};

&pcie0 {
	power-domains = <&scmi5_pd 0>;
	power-domain-names = "power";
	status = "okay";
};

&pcie1 {
	power-domains = <&scmi6_pd 0>;
	power-domain-names = "power";
	status = "okay";
};
