// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	interrupt-parent = <&intc>;

	#address-cells = <2>;
	#size-cells = <2>;

	chosen { };

	clocks {
		xo_board_clk: xo-board-clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
		};

		sleep_clk: sleep-clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
		};
	};

	cpus {
		#address-cells = <2>;
		#size-cells = <0>;

		CPU0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x0>;
			enable-method = "psci";
			next-level-cache = <&L2_0>;
			L2_0: l2-cache {
				compatible = "cache";
				cache-level = <2>;
				cache-unified;
			};
		};

		CPU1: cpu@100 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x100>;
			enable-method = "psci";
			next-level-cache = <&L2_0>;
		};

		CPU2: cpu@200 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x200>;
			enable-method = "psci";
			next-level-cache = <&L2_0>;
		};

		CPU3: cpu@300 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x300>;
			enable-method = "psci";
			next-level-cache = <&L2_0>;
		};

		CPU4: cpu@400 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x400>;
			enable-method = "psci";
			next-level-cache = <&L2_0>;
		};

		CPU5: cpu@500 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x500>;
			enable-method = "psci";
			next-level-cache = <&L2_0>;
		};

		CPU6: cpu@10000 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10000>;
			enable-method = "psci";
			next-level-cache = <&L2_6>;
			L2_6: l2-cache {
				compatible = "cache";
				cache-level = <2>;
				cache-unified;
			};
		};

		CPU7: cpu@10100 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10100>;
			enable-method = "psci";
			next-level-cache = <&L2_6>;
		};

		CPU8: cpu@10200 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10200>;
			enable-method = "psci";
			next-level-cache = <&L2_6>;
		};

		CPU9: cpu@10300 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10300>;
			enable-method = "psci";
			next-level-cache = <&L2_6>;
		};

		CPU10: cpu@10400 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10400>;
			enable-method = "psci";
			next-level-cache = <&L2_6>;
		};

		CPU11: cpu@10500 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10500>;
			enable-method = "psci";
			next-level-cache = <&L2_6>;
		};

		cpu-map {
			cluster0 {
				core0 {
					cpu = <&CPU0>;
				};

				core1 {
					cpu = <&CPU1>;
				};

				core2 {
					cpu = <&CPU2>;
				};

				core3 {
					cpu = <&CPU3>;
				};

				core4 {
					cpu = <&CPU4>;
				};

				core5 {
					cpu = <&CPU5>;
				};
			};

			cluster1 {
				core0 {
					cpu = <&CPU6>;
				};

				core1 {
					cpu = <&CPU7>;
				};

				core2 {
					cpu = <&CPU8>;
				};

				core3 {
					cpu = <&CPU9>;
				};

				core4 {
					cpu = <&CPU10>;
				};

				core5 {
					cpu = <&CPU11>;
				};
			};
		};
	};

	firmware {
		qcom_scm {
			compatible = "qcom,scm-seca", "qcom,scm";
		};
	};

	memory@80000000 {
		ddr_device_type = <0x08>;
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x80000000>;
	};

	reserved_memory: reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		cpucp_scandump_mem: cpucp_scandump_region@80000000 {
			no-map;
			reg = <0x0 0x80000000 0x0 0x800000>;
		};

		tme_sail_mem: tme_sail_region@81ff0000 {
			no-map;
			reg = <0x0 0x81ff0000 0x0 0x10000>;
		};

		tz_sail_mailbox_mem: tz_sail_mailbox_region@82000000 {
			no-map;
			reg = <0x0 0x82000000 0x0 0x8000>;
		};

		hlos_sail_mailbox_mem: hlos_sail_mailbox_region@82008000 {
			no-map;
			reg = <0x0 0x82008000 0x0 0x1F8000>;
		};

		sail_ota_mem: sail_ota_region@82200000 {
			no-map;
			reg = <0x0 0x82200000 0x0 0x5FF000>;
		};

		sail_vdt_mem: sail_vdt_region@827FF000 {
			no-map;
			reg = <0x0 0x827FF000 0x0 0x1000>;
		};

		gunyah_hyp_mem: gunyah_hyp_region@82800000 {
			no-map;
			reg = <0x0 0x82800000 0x0 0x2400000>;
		};

		deepsleep_mem: deepsleep_region@84c00000 {
			no-map;
			reg = <0x0 0x84c00000 0x0 0x800000>;
		};

		deepsleep_backup_mem: deepsleep_backup_region@86a00000 {
			no-map;
			reg = <0x0 0x86a00000 0x0 0x200000>;
		};

		soccp_fe_vm_0: soccp_fe_vm_0_region@86c00000 {
			no-map;
			reg = <0x0 0x86c00000 0x0 0xac000>;
		};

		soccp_fe_vm_1: soccp_fe_vm_1_region@86cac000 {
			no-map;
			reg = <0x0 0x86cac000 0x0 0x18d000>;
		};

		soccp_fe_vm_2: soccp_fe_vm_2_region@86e39000 {
			no-map;
			reg = <0x0 0x86e39000 0x0 0x1c7000>;
		};

		tme_crash_dump_mem: tme_crash_dump_region@87000000 {
			no-map;
			reg = <0x0 0x87000000 0x0 0xa0000>;
		};

		tme_log_mem: tme_log_region@87140000 {
			no-map;
			reg = <0x0 0x87140000 0x0 0x4000>;
		};

		aop_cmd_db_p_mem: aop_cmd_db_p_region@87148000 {
			compatible = "qcom,cmd-db";
			no-map;
			reg = <0x0 0x87148000 0x0 0x20000>;
		};

		nsp_sync_buffer_mem: nsp_sync_buffer_region@871ff000 {
			no-map;
			reg = <0x0 0x871ff000 0x0 0x1000>;
		};

		ddr_training_checksum_data_mem: ddr_training_checksum_data_region@87200000 {
			no-map;
			reg = <0x0 0x87200000 0x0 0x2000>;
		};

		xbl_dtlog_mem: xbl_dtlog_region@87202000 {
			no-map;
			reg = <0x0 0x87202000 0x0 0x60000>;
		};

		xbl_ramdump_mem: xbl_ramdump_region@87262000 {
			no-map;
			reg = <0x0 0x87262000 0x0 0x1c0000>;
		};

		uefi_log: uefi-log@87442000 {
			reg = <0x0 0x87442000 0x0 0x10000>;
			no-map;
		};

		secdata_apss_mem: secdata_apss_region@87452000 {
			no-map;
			reg = <0x0 0x87452000 0x0 0x1000>;
		};

		antireplay_emulation_mem: antireplay_emulation_region@87453000 {
			no-map;
			reg = <0x0 0x87453000 0x0 0x1000>;
		};

		soccp_sdi_mem: soccp_sdi_region@87454000 {
			no-map;
			reg = <0x0 0x87454000 0x0 0x40000>;
		};

		hyp_mem_database_mem: hyp_mem_database_region@87494000 {
			no-map;
			reg = <0x0 0x87494000 0x0 0x60000>;
		};

		pmic_mini_dump_mem: pmic_mini_dump_region@874f4000 {
			no-map;
			reg = <0x0 0x874f4000 0x0 0x80000>;
		};

		qup_fw_mem: qup_fw_region@87574000 {
			no-map;
			reg = <0x0 0x87574000 0x0 0x20000>;
		};

		softsku_mem: softsku_region@87594000 {
			no-map;
			reg = <0x0 0x87594000 0x0 0x9000>;
		};

		pdp_ns_mem: pdp_ns_mem_region@87600000 {
			no-map;
			reg = <0x0 0x87600000 0x0 0x200000>;
		};

		tz_stat_mem: tz_stat_region@87a00000 {
			no-map;
			reg = <0x0 0x87a00000 0x0 0x100000>;
		};

		qdss_apps_mem: qdss_apps_region@87b00000 {
			no-map;
			reg = <0x0 0x87b00000 0x0 0x2000000>;
		};

		smem_mem: smem_region@89b00000 {
			no-map;
			reg = <0x0 0x89b00000 0x0 0x400000>;
		};

		global_sync_mem: global_sync_region@89f00000 {
			no-map;
			reg = <0x0 0x89f00000 0x0 0x400000>;
		};

		tzffi_mem: tzffi_region@8a300000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x8a300000 0x0 0x1400000>;
			no-map;
		};

		gunyah_md_mem: gunyah_md_region@8b700000 {
			no-map;
			reg = <0x0 0x8b700000 0x0 0x80000>;
		};

		flashless_qntm_tool_mem: flashless_qntm_tool_region@8b780000 {
			no-map;
			reg = <0x0 0x8b780000 0x0 0x182000>;
		};

		ipa_fw_mem: ipa_fw_region@8bb00000 {
			no-map;
			reg = <0x0 0x8bb00000 0x0 0x10000>;
		};

		ipa_gsi_mem: ipa_gsi_region@8bb10000 {
			no-map;
			reg = <0x0 0x8bb10000 0x0 0xa000>;
		};

		gpu_microcode_mem: gpu_microcode_region@8bb1a000 {
			no-map;
			reg = <0x0 0x8bb1a000 0x0 0x2000>;
		};

		gpu_microcode_2_mem: gpu_microcode_2_region@8bb1c000 {
			no-map;
			reg = <0x0 0x8bb1c000 0x0 0x2000>;
		};

		soccp_mem: soccp_region@8bc00000 {
			no-map;
			reg = <0x0 0x8bc00000 0x0 0x300000>;
		};

		cvp_mem: cvp_region@8d100000 {
			no-map;
			reg = <0x0 0x8d100000 0x0 0x800000>;
		};

		cdsp0_mem: cdsp0_region@8d900000 {
			no-map;
			reg = <0x0 0x8d900000 0x0 0x2300000>;
		};

		cdsp1_mem: cdsp1_region@8fc00000 {
			no-map;
			reg = <0x0 0x8fc00000 0x0 0x2300000>;
		};

		hpass_dsp0_mem: hpass_dsp0_region@96500000 {
			no-map;
			reg = <0x0 0x96500000 0x0 0x2800000>;
		};

		hpass_dsp1_mem: hpass_dsp1_region@98d00000 {
			no-map;
			reg = <0x0 0x98d00000 0x0 0x2800000>;
		};

		q6_cdsp0_dtb_mem: q6_cdsp0_dtb_region@9dd00000 {
			no-map;
			reg = <0x0 0x9dd00000 0x0 0x80000>;
		};

		q6_cdsp1_dtb_mem: q6_cdsp1_dtb_region@9dd80000 {
			no-map;
			reg = <0x0 0x9dd80000 0x0 0x80000>;
		};

		hpass_dsp0_dtb_mem: hpass_dsp0_dtb_region@9df00000 {
			no-map;
			reg = <0x0 0x9df00000 0x0 0x80000>;
		};

		hpass_dsp1_dtb_mem: hpass_dsp1_dtb_region@9df80000 {
			no-map;
			reg = <0x0 0x9df80000 0x0 0x80000>;
		};

		camera_icp_1_mem: camera_icp_1_region@9e100000 {
			no-map;
			reg = <0x0 0x9e100000 0x0 0x800000>;
		};

		camera_icp_2_mem: camera_icp_2_region@9e900000 {
			no-map;
			reg = <0x0 0x9e900000 0x0 0x800000>;
		};

		camera_qup_1_mem: camera_qup_1_region@9f100000 {
			no-map;
			reg = <0x0 0x9f100000 0x0 0x200000>;
		};

		camera_qup_2_mem: camera_qup_2_region@9f300000 {
			no-map;
			reg = <0x0 0x9f300000 0x0 0x200000>;
		};

		video_mem: video_region@9f500000 {
			no-map;
			reg = <0x0 0x9f500000 0x0 0xc00000>;
		};

		pil_umd_reserved: mdt_load_region@a0100000 {
			no-map;
			reg = <0x0 0xa0100000 0x0 0x100000>;
		};

		cma_reserved: cma_region@ba200000 {
			no-map;
			reg = <0x0 0xba200000 0x0 0x200000>;
		};

		display_config_reserved: display_config_region@ba400000 {
			no-map;
			reg = <0x0 0xba400000 0x0 0xa00000>;
		};

		mm_calibration_data_mem: mm_calibration_data_region@bae00000 {
			no-map;
			reg = <0x0 0xbae00000 0x0 0x800000>;
		};

		audio_config_mem: audio_config_region@bb600000 {
			no-map;
			reg = <0x0 0xbb600000 0x0 0xa00000>;
		};

		dare_tz_mem: dare_tz_region@bc000000 {
			no-map;
			reg = <0x0 0xbc000000 0x0 0xa300000>;
		};

		hpass_rpc_remote_heap_mem: hpass_rpc_remote_heap_region@d4600000 {
			no-map;
			reg = <0x0 0xd4600000 0x0 0x800000>;
		};

		mdf_mem: mdf_region@d4e00000 {
			no-map;
			reg = <0x0 0xd4e00000 0x0 0x2000000>;
		};

		gearvm_mem: gearvm_region@d6e00000 {
			no-map;
			reg = <0x0 0xd6e00000 0x0 0x800000>;
		};

		scmi_mem: scmi_region@d7600000 {
			no-map;
			reg = <0x0 0xd7600000 0x0 0x40000>;
		};

		gearvm_logs_mem: gearvm_logs_region@d7640000 {
			no-map;
			reg = <0x0 0xd7640000 0x0 0x10000>;
		};

		gearvm_shared_mem: gearvm_shared_region@d7650000 {
			no-map;
			reg = <0x0 0xd7650000 0x0 0x1b0000>;
		};

		sail_p_mem: sail_p_region@8c0000000 {
			no-map;
			reg = <0x8 0xc0000000 0x0 0x8000000>;
		};

		reserved_mem2: reserved_region@8c8000000 {
			no-map;
			reg = <0x8 0xc8000000 0x0 0x18000000>;
		};
	};

	soc: soc@0 {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges = <0 0 0 0 0x10 0>;

		dcc: dma@100ff000 {
			compatible = "qcom,seca-dcc", "qcom,dcc-v3";
			reg = <0x0 0x100ff000 0x0 0x1000>,
				<0x0 0x10080000 0x0 0x6000>;
			qcom,dcc-offset = <0>;
		};

		intc: interrupt-controller@17000000 {
			compatible = "arm,gic-v3";
			#address-cells = <2>;
			#size-cells = <2>;
			reg = <0x0 0x17000000 0x0 0x10000>,     /* GICD */
			      <0x0 0x17080000 0x0 0x480000>;    /* GICR * 18 */
			interrupt-controller;
			#interrupt-cells = <3>;
			interrupts = <GIC_PPI 9 IRQ_TYPE_LEVEL_HIGH>;
			#redistributor-regions = <1>;
			redistributor-stride = <0x0 0x40000>;
		};

		ipcc0: mailbox@9007000 {
			compatible = "qcom,seca-ipcc", "qcom,ipcc";
			reg = <0x0 0x9007000 0x0 0x1000>;
			interrupts = <GIC_SPI 247 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-controller;
			#interrupt-cells = <3>;
			#mbox-cells = <2>;
		};

		ipcc1: mailbox@90c5000 {
			compatible = "qcom,seca-ipcc", "qcom,ipcc";
			reg = <0x0 0x90c5000 0x0 0x1000>;
			interrupts = <GIC_SPI 230 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-controller;
			#interrupt-cells = <3>;
			#mbox-cells = <2>;
		};

		ipcc2: mailbox@9185000 {
			compatible = "qcom,seca-ipcc", "qcom,ipcc";
			reg = <0x0 0x9185000 0x0 0x1000>;
			interrupts = <GIC_SPI 231 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-controller;
			#interrupt-cells = <3>;
			#mbox-cells = <2>;
		};

		tlmm: pinctrl@f000000 {
			compatible = "qcom,seca-tlmm";
			reg = <0x0 0x0f000000 0x0 0x1000000>;
			interrupts = <GIC_SPI 208 IRQ_TYPE_LEVEL_HIGH>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			gpio-ranges = <&tlmm 0 0 181>;
		};

		memtimer: timer@17810000 {
			compatible = "arm,armv7-timer-mem";
			reg = <0x0 0x17810000 0x0 0x1000>;
			ranges = <0x0 0x0 0x0 0x20000000>;
			#address-cells = <1>;
			#size-cells = <1>;

			frame@17811000 {
				reg = <0x17811000 0x1000>,
				      <0x17812000 0x1000>;
				interrupts = <GIC_SPI 38 IRQ_TYPE_LEVEL_HIGH>,
					     <GIC_SPI 36 IRQ_TYPE_LEVEL_HIGH>;
				frame-number = <0>;
			};

			frame@17813000 {
				reg = <0x17813000 0x1000>;
				interrupts = <GIC_SPI 39 IRQ_TYPE_LEVEL_HIGH>;
				frame-number = <1>;
				status = "disabled";
			};

			frame@17815000 {
				reg = <0x17815000 0x1000>;
				interrupts = <GIC_SPI 40 IRQ_TYPE_LEVEL_HIGH>;
				frame-number = <2>;
				status = "disabled";
			};

			frame@17817000 {
				reg = <0x17817000 0x1000>;
				interrupts = <GIC_SPI 41 IRQ_TYPE_LEVEL_HIGH>;
				frame-number = <3>;
				status = "disabled";
			};

			frame@17819000 {
				reg = <0x17819000 0x1000>;
				interrupts = <GIC_SPI 42 IRQ_TYPE_LEVEL_HIGH>;
				frame-number = <4>;
				status = "disabled";
			};

			frame@1781b000 {
				reg = <0x1781b000 0x1000>;
				interrupts = <GIC_SPI 43 IRQ_TYPE_LEVEL_HIGH>;
				frame-number = <5>;
				status = "disabled";
			};

			frame@1781d000 {
				reg = <0x1781d000 0x1000>;
				interrupts = <GIC_SPI 44 IRQ_TYPE_LEVEL_HIGH>;
				frame-number = <6>;
				status = "disabled";
			};
		};

		arch_timer: timer {
			compatible = "arm,armv8-timer";
			interrupts = <GIC_PPI 13 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>,
				     <GIC_PPI 14 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>,
				     <GIC_PPI 11 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>,
				     <GIC_PPI 12 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>;
		};
	};
};
