// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

#include "seca-usb.dtsi"
#include "seca-ethernet.dtsi"

&arch_timer {
	clock-frequency = <19200000>;
};

&memtimer {
	clock-frequency = <19200000>;
};

&sleep_clk {
	clock-frequency = <32768>;
};

&xo_board_clk {
	clock-frequency = <19200000>;
};

&i2c9 {
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	usb0_eusb_repeater: redriver@43 {
		compatible = "nxp,ptn3222";
		reg = <0x43>;
		#phy-cells = <0>;
	};
};

&scmi0 {
	status = "okay";
};

&scmi1 {
	status = "okay";
};

&scmi2 {
	status = "okay";
};

&scmi9 {
	status = "okay";
};

&scmi10 {
	status = "okay";
};

&scmi11 {
	status = "okay";
};

&scmi12 {
	status = "okay";
};

&scmi13 {
	status = "okay";
};

&scmi14 {
	status = "okay";
};

&scmi15 {
	status = "okay";
};

&qupv3_id_0 {
	status = "okay";
};

&qupv3_id_1 {
	status = "okay";
};

&qupv3_id_2 {
	status = "okay";
};

&uart15 {
	status = "okay";
};

&usb_0_eusbphy {
	phys = <&usb0_eusb_repeater>;

	status = "okay";
};

&usb_0_qmpphy {
	status = "okay";
};

&usb_0 {
	status = "okay";
};

&scmi5 {
	status = "okay";
};

&scmi6 {
	status = "okay";
};

&scmi3 {
	status = "okay";
};

&ufshc_mem {
	status = "okay";
};
